html[data-theme='dark'] {
  --main-background-color: #171820;

  --color-name-user: #ffffff;
  --color-name-pages: #ffffff;
  --background-color-nav: #13151a;
  --color-name-logo: #e3f3ff;
  --color-menu-title: rgba(250, 250, 250, 0.3);
  --color-menu-item: rgba(255, 255, 255, 1);
  --bgr-btn-active: #3e85f3;
  --color-bth-active: #ffffff;
  --color-calendar-border: 1px solid rgba(255, 255, 255, 0.15);
  --color-calendar-day: #ffffff;
  --color-btn-change-day: #21222c;
  --color-btn-stroke: rgba(255, 255, 255, 0.15);
  --color-btn-stroke-active: #ffffff;
  --color-calendar-petiod: #3e85f3;
  --color-calendar-day-task-bg: #171820;
  --color-calendar-day-addtaskbtn-bg: #3e85f3;

  --color-title-profil: rgba(250, 250, 250, 0.3);
  --color-border-profil: rgba(255, 255, 255, 0.15);


  --color-border-stat: 0.8px solid rgba(227, 243, 255, 0.15);
  --color-border-stat-line:  rgba(227, 243, 255, 0.15);

  --color-error-title: #FFFFFF;

  --color-bgr-popup: #171820;
  --color-title-popup: rgba(250, 250, 250, 0.3);
  --color-user-input-border: 1px solid rgba(255, 255, 255, 0.15);
  --color-text-input: #FFFFFF;
  --color-close-popup: #FFFFFF;

  --color-border-popup-modal: transparent;

  --color-bgr-input: transparent;

  --color-border-day-cal-head: 1px solid rgba(255, 255, 255, 0.15);

  --color-button-month-title: #3e85f3;
  --color-button-day-title: #FFFFFF;
  --color-brg-button-month: #21222C;
  --color-brg-button-day: #3E85F3;

  --scrollbar-thumb:#171820;
  --scrollbar-track:#2D3037;


}

html[data-theme='light'] {
  --main-background-color: #f7f6f9;

  --color-name-user: #343434;
  --color-name-pages: #111111;
  --background-color-nav: #ffffff;
  --color-name-logo: #3e85f3;
  --color-menu-title: rgba(52, 52, 52, 0.5);
  --color-menu-item: rgba(52, 52, 52, 0.5);
  --bgr-btn-active: #e3f3ff;
  --color-bth-active: #3e85f3;
  --color-calendar-border: 1px solid rgba(220, 227, 229, 0.5);
  --color-calendar-day: #343434;
  --color-btn-change-day: #fff;
  --color-btn-stroke-active: #343434;
  --color-btn-stroke: #dce3e5;
  --color-calendar-petiod: rgba(62, 133, 243, 0.2);
  --color-calendar-day-task-bg: #f7f6f9;
  --color-calendar-day-addtaskbtn-bg: #e3f3ff;

  --color-title-profil: #343434;
  --color-border-profil: rgba(17, 17, 17, 0.15);

  --color-border-stat: 1px solid rgba(227, 243, 255, 1);
  --color-border-stat-line:  rgba(227, 243, 255, 1);

  --color-error-title: rgba(17, 17, 17, 0.7);

  --color-bgr-popup: #FFFFFF;
  --color-title-popup: rgba(52, 52, 52, 0.8);
  --color-user-input-border: 1px solid rgba(17, 17, 17, 0.1);
  --color-text-input: #343434;
  --color-close-popup: #111111;

  --color-border-popup-modal: 1px solid rgba(220, 227, 229, 0.8);

  --color-bgr-input: #F6F6F6;

  --color-border-day-cal-head: 1px solid rgba(220, 227, 229, 0.8);
  --color-brg-button-day: rgba(62, 133, 243, 0.2);
  --color-brg-button-month: #E3F3FF;
  --color-button-month-title: #3e85f3;
  --color-button-day-title: #3e85f3;

  --scrollbar-thumb:#E7E5E5;
  --scrollbar-track:#F2F2F2;
}

/* var(--color-name-user) */


/* Tasks,procent,toDo,inProcess,Done color:var(--color-calendar-day); */

/* &:hover {
  background-color: #2b78ef;
}

&:hover,
&:focus {
  opacity: 0.8;
} */

/* cursor:  pointer; */